@media only screen and (min-width: 768px) {
  .content{
    margin: auto 10%;
  }
  .menuElements{
    font-size: 50px;
  }
  .extras{
    margin: 10px 15% 10px 20%;
  }
  .extraImg{
    height: 110px;
    margin-right: 100px;
  }
}
@media only screen and (min-width: 992px) {
  header{
    border-radius: 0 0 0 15px;
  }
  .noWrap{
    visibility: hidden;
    display: block;
    margin: auto;
  }
  .content{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 5%;
  }
  .menuElements{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    /* margin: auto 20px; */
    height: 100%;
    border-radius: 0 0 15px 15px;
    background-color: #aaaaaa;
  }
  .extras{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin: auto auto 20px auto;
    /* border: 1px solid red; */
  }
  .extraImg{
    height: 150px;
    margin-right: -200px;
  }
  .extraGrid{
    margin-left: -20px;
  }
}
